<div class="container">
    <div class="row mb-3">
        <div class="col">
            <button (click)="addProduct()" type="button" class="btn btn-primary">New Book</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                    <th scope="col">Controls</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let book of books">
                    <td >{{book.title}}</td>
                    <td  >{{book.author}}</td>
                    <td >{{book.price}}</td>
                    <td > <img class="rounded" style="width:100px;height:100px;" src={{book.imageURL+book.image}} alt={{book.title}} />  </td>
                    <td ><div class="btn-group" role="group" aria-label="Basic example">
                        <button (click)="editProduct(book._id)" type="button" class="btn btn-info">Edit</button>
                        <button (click)="deleteProduct(book._id)" type="button" class="btn btn-danger">DEL</button>
                      </div></td>
                  </tr>
                </tbody>
            </table>        
        </div>
        
    </div>
</div>

